.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App .top-bar {
  min-height: 40px;
  border-bottom: thin solid gray;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.App .top-bar .title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: blue;
}

.App .sidebar-and-page {
  flex: 1;
  display: flex;
}

.App .sidebar-and-page .sidebar {
  min-width: 150px;
  max-width: 150px;
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
}

.App .sidebar-and-page .page {
  flex: 1;
}

.App .statistics {
  border-bottom: thin solid gray;
}
.App .grid {
  flex: 1;
}
